.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: black;
}

.ad {
  width: 100vw;
  height: 35px;
  background-color: #00205b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adTitle{
  font-size: 12px;
  color: whitesmoke;
}
.rupeeIcon{
  display: inline-block;
  width: 7px;
  height: 7px;
  color: whitesmoke;
}
.adButton{
  color: whitesmoke;
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 15%;
  padding: 4px 8px;
  font-size: 10px;
  background-color: transparent;
  cursor: pointer;
}
.header{
  min-height: 60px;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}
.headerLogo{
  width: 80px;
  flex-grow: 1;
  text-align: center;
}
.headerTab{
 margin: 20px;
 cursor: pointer;
 color: whitesmoke;
}
.headerIcon{
  margin: 20px;
  padding: 5px;
  height: 30px;
  width: 30px;
  border: 1px solid rgb(211, 203, 203);
  border-radius: 15%;
  cursor: pointer;
}
.halfLine{
  width: 35vw;
  height: 1px;
  background-color: #00205b;
}
.mainContainer{
  background: linear-gradient(to right,black,#00205b);
  min-height: calc(100vh - 130px);
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
}
.mainLeft{
  margin: 50px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.mainLHeading{
  font-size: 26px;
  margin-bottom: 17px;
  color: whitesmoke;
}
.mainLDisMin{
  color:whitesmoke
}
.mainLDis{
  font-size: 22px;
  margin-bottom: 20px;
}
.mainLIcon{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.linkIcon{
  display: inline;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.mainLIconLive{
  display: inline;
  margin-right: 20px;
  color: whitesmoke;
}
.colorWhite{
  color: whitesmoke;
}
/* .mainLButton{
  
} */
.mainLButtonFree{
  cursor: pointer;
  width: 90%;
  height: 44px;
  font-size: 13px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  background: linear-gradient(to right,#00205b,rgb(78, 78, 227));

}
.mainLButtonExpert{
  cursor: pointer;
  width: 90%;
  height: 44px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  border: none;
  margin-top: 13px;
  background-color: white;
  color:#00205b;
  
}
.mainLBottomDis{
  margin-top: 17px;
  font-size: 12px;
}
.mainLBottomGlobal{
  margin-top: 25px;
  font-size: 12px;
}


.mainRight{
  margin: 50px;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.mainRImgContainer1{
  height: 450px;
  flex-grow: 1;
  background-image: url('../../public/india-5342924_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 310px;
  box-shadow: 10px 20px 25px rgb(29, 28, 28), 10px -20px 25px rgb(23, 23, 23);
}
.mainRImgContainer2{
  height: 450px;
  flex-grow: 1;
  background-image: url('../../public/beard-5216825_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 310px;
  box-shadow: 10px 20px 25px rgb(29, 28, 28), 10px -20px 25px rgb(23, 23, 23);
}
.mainRImgContainer3{
  height: 450px;
  flex-grow: 1;
  background-image: url('../../public/india-5342930_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 310px;
  box-shadow: 10px 20px 25px rgb(29, 28, 28), 10px -20px 25px rgb(23, 23, 23);

}
.mainRImgContainer4{
  height: 450px;
  flex-grow: 1;
  background-image: url('../../public/india-5342924_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 310px;
  box-shadow: 10px 20px 25px rgb(29, 28, 28), 10px -20px 25px rgb(23, 23, 23);

}
.mainRImgContainer5{
  height: 450px;
  flex-grow: 1;
  background-image: url('../../public/india-5342930_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 310px;
  box-shadow: 10px 20px 25px rgb(29, 28, 28), 10px -20px 25px rgb(23, 23, 23);

}
.mainRImgContainer6{
  height: 450px;
  flex-grow: 1;
  background-image: url('../../public/beard-5216825_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 310px;
  box-shadow: 10px 20px 25px rgb(29, 28, 28), 10px -20px 25px rgb(23, 23, 23);

}

